{% extends "base.html" %}


{% block content %}
<div class="body">
    <div class="center">
    <h1 class = "header">WELCOME TO HOSPITAL</h1>
    <p>We provide best service to our patients.</p>
    </div>
</div>


<style>

    
    .body {
        height: 100ch;
        width: 100cap;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        background-image: url("health.webp");
    } 
    .center{
        padding-top: 20%;
        padding-left: 10%;
        text-align: left;
        color: rgba(37, 1, 1, 0.702);

    }  
    .header {
       
        font-size: xx-large;
        font-family: sans-serif;
  
    } 
</style>



{% endblock %}
